/vendor
/node_modules
/public/profilepics
/public/project_images
/public/challenge_banners
/public/ad_images

Homestead.yaml
Homestead.json
.idea
.vagrant
.env
.DS_Store
composer.lock
.env.example
.phpstorm.meta.php
_ide_helper.php

